@import '../../../scss/mixins/index.scss';

.buildingaBrokerage {
    border-radius: 34px;
    background: linear-gradient(137.56deg, #8A2BE2 0%, #3FA9F5 47.95%, #AEEBFF 95.91%);
    padding: 80px 80px 80px 80px;

    @include breakpoint("md-max") {
        height: auto;
        padding: 60px 20px;
    }

    @include breakpoint("sm-max") {
        border-radius: 12px;
    }


    .grid {

        button {
            border: none;
            background: #fff;
            padding: 12px 24px;
            color: #014EFF;
            border-radius: 999px;
            font-size: 16px;
            cursor: pointer;
            font-weight: 600;
            display: flex;
            border: none;
            align-items: center;
            gap: 6px;
            line-height: 24px;
            transition: .3s ease-in-out;
            cursor: pointer;
        }

        h2 {
            @include heading1;
            font-size: 38px;
            line-height: 45px;
            margin: 0 0 30px 0;
            color: #fff;
        }

        .img {
            img {
                width: 100%;
            }
        }
    }
}