@import '../../../scss/mixins/index.scss';

.ourIntegration {
    padding: 0 0 100px 0;

    h2 {
        color: #0B0B14;
        @include heading1;
        text-align: center;
        margin: 0 0 60px 0;
    }

    .imageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
    }
}