@import '../../../scss/mixins/index.scss';

.serviceSectionalignment {
    padding: 120px 0;

    @include breakpoint("md-max") {
        padding: 60px 0;
    }

    .buttonCenteralignment {
        display: flex;
        justify-content: center;
    }

    .text {
        padding: 20px 0 60px 0;

        h2 {
            margin: 0 0 10px 0;
            text-align: center;
            @include heading1;
            color: #0B0B14;
        }

        p {
            color: #737373;
            text-align: center;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;

            @include breakpoint("sm-max") {
                @include font14;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;


        @include breakpoint("md-max") {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        @include breakpoint("sm-max") {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        :global(.atropos) {
            border-radius: 30px;

            @include breakpoint("sm-max") {
                border-radius: 12px;
            }
        }

        .griditems {
            border-radius: 30px;
            border: 1px solid #B0C8FF;
            background: #FFF;
            padding: 30px;

            @include breakpoint("sm-max") {
                border-radius: 12px;
            }


            button {
                cursor: pointer;
                color: #0F0F1A;
                font-size: 16px;
                border-radius: 30px;
                border: 3px solid var(--Foundation-Blue-Light, #E6EDFF);
                background: var(--Foundation-White-Light, #FFF);
                padding: 4px 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            h3 {
                color: var(--Foundation-Blue-Normal, #0F0F1A);
                margin: 16px 0;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p {
                color: var(--foundation-white-dark-active, #737373);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 30px 0;
                line-height: 30px;

                @include breakpoint("sm-max") {
                    @include font14;
                }
            }

            .img {
                width: 100%;
                position: relative;
                border-radius: 20px;
                height: 270px;

                @include breakpoint("md-max") {
                    height: 180px;
                }

                img {
                    border-radius: 20px;
                }
            }
        }
    }
}