@import '../../scss/mixins/index.scss';

.commonButton {
    button {
        border-radius: 40px;
        border: 1px solid #B0B0FF;
        background: rgba(230, 230, 255, 0.80);
        color: var(--Foundation-Blue-Dark, #0B0B14);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: text;
        display: flex;
        align-items: center;
        gap: 8px;
        text-transform: uppercase;
        padding: 6px 20px;
    }
}