@import '../../../../scss/mixins/index.scss';

.trustedPartners {
    padding: 60px 0;
    h2 {
        @include heading1;
        color: #0B0B14;
        text-align: center;
        margin: 0 0 60px 0;
    }
    .logoAlignment {
        display: flex;
        justify-content: center;
        gap: 100px;

        @include breakpoint("sm-max") {
            gap: 20px;
        }
        img {
            max-width: 100%;
            
            @include breakpoint("sm-max") {
                max-width: 80px;
            }
        }
    }
   
}