@import '../../../scss/mixins/index.scss';

.calculatorAlignment {
    padding: 120px 0;

    @include breakpoint("md-max") {
        padding: 60px 0;
    }

    .btnCenter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        @include breakpoint("md-max") {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        @include breakpoint("sm-max") {
            grid-template-columns: 1fr;
        }
    }

    .title {
        padding: 30px 0 60px 0;

        h2 {
            @include heading1;
            color: #0B0B14;
            text-align: center;
        }
    }

    .threeAlignment {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0 0;

        .rightButton {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                min-width: 120px;
                justify-content: center;

                @include breakpoint("sm-max") {
                    min-width: auto;
                }
            }
        }
    }

    .itemsAlignment {
        overflow: auto;
        width: 100%;
        display: flex;
        scrollbar-width: none;
        justify-content: center;

        @include breakpoint("sm-max") {
            justify-content: inherit;
        }

        .items {
            min-width: 180px;
            max-width: 180px;
            width: 180px;
            position: relative;

            @include breakpoint("sm-max") {
                min-width: 130px;
                max-width: 130px;
                width: 130px;
            }

            &.itemsActive {
                &::before {
                    background-color: #014EFF;
                }

                .logoCenteralignment {
                    .icons {
                        background-color: #014EFF;
                        color: #fff;
                    }
                }

                p {
                    opacity: 1;
                }
            }

            &::before {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #BFBFBF;
                content: '';
                left: 0;
                top: 15px;
                z-index: -1;
            }

            p {
                color: #0F0F1A;
                opacity: .5;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                padding: 0 10px;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.16px;
            }

            .logoCenteralignment {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0 12px 0;

                .icons {
                    background-color: #f5f5f5;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: #000;
                    font-weight: 700;
                    font-display: 16px;
                }
            }
        }
    }

    .tradingPlatform {
        padding: 60px 0 40px 0;

        h3 {
            color: var(--Foundation-Blue-Normal, #0F0F1A);
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.3px;
        }
    }


    :global(.slick-slide) {
        padding: 0 10px;
    }


    .cardbox {
        background-color: rgba(230, 237, 255, .5);
        border-radius: 20px;
        padding: 30px;

        @include breakpoint("sm-max") {
            padding: 20px;
            height: 190px;
        }

        .cardBottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                color: var(--Foundation-White-Darker, #595959);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.18px;
                display: block;
            }

            p {
                color: var(--Foundation-Blue-Dark, #0B0B14);
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.22px;
            }
        }

        .cardDetails {
            padding: 0 0 16px 0;

            h4 {
                color: var(--Foundation-Blue-Dark, #0B0B14);
                font-size: 22px;
                margin: 0 0 0 0;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.18px;

                @include breakpoint("sm-max") {
                    @include font14;
                }
            }

            p {
                color: var(--Foundation-White-Darker, #595959);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.18px;
            }
        }

        .cardHeaderalignment {
            display: flex;
            align-items: center;
            padding: 0 0 10px 0;
            justify-content: space-between;

            input[type="radio"] {
                width: 16px;
                height: 16px;
                margin: 0;
                padding: 0;
            }
        }

    }

    .totalAmount {
        border-radius: 20px;
        border: 1px solid var(--foundation-blue-light-active, #B0B0FF);
        background: var(--Foundation-Blue-Light, #E6E6FF);
        padding: 30px;
        display: flex;
        align-items: center;
        margin: 100px 0 0 0;
        justify-content: space-between;

        @include breakpoint("md-max") {
            margin: 80px 0 0 0;
        }

        @include breakpoint("sm-max") {
            margin: 40px 0 0 0;
            border-radius: 12px;
            padding: 20px;
        }

        .totlRight {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        span {
            display: block;
            color: var(--Foundation-Blue-Normal, #0F0F1A);
            font-size: 22px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -0.28px;
        }

        p {
            color: var(--Foundation-Blue-Normal, #0F0F1A);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.26px;
        }
    }
}

.modalWrapper {
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 9999;

    .modalMd {
        width: 1050px;
        background-color: #fff;
        border-radius: 12px;

        @include breakpoint("md-max") {
            width: calc(100% - 20px);
            max-height: calc(100vh - 50px);
            overflow: auto;
        }


        .modalbody {
            padding: 0 24px 24px 24px;
            display: grid;
            grid-template-columns: 300px 1fr;
            gap: 40px;

            @include breakpoint("md-max") {
                grid-template-columns: 300px 1fr;
            }

            @include breakpoint("sm-max") {
                padding: 0 20px 20px 20px;
                grid-template-columns: 1fr;
                gap: 20px;
            }

            .detailsShow {
                border-right: 1px solid #e0e0e0;

                @include breakpoint("sm-max") {
                    border-bottom: 1px solid #e0e0e0;
                    border-right: 0;
                }

                .listText {
                    padding: 0 0 14px 0;

                    h4 {
                        color: #0f0f1a;
                        opacity: .5;
                        font-size: 16px;
                        font-style: normal;
                        margin: 0 0 5px 0;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -.16px;
                    }

                    span {
                        color: #0f0f1a;
                        display: block;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: -.16px;
                    }
                }
            }


            .firstButton {
                display: flex;
                justify-content: center;

                button {
                    &:hover {
                        svg {
                            path {
                                fill: #014EFF;
                                transition: .3s ease-in-out;

                            }
                        }
                    }
                }
            }

            .twoCol {
                padding: 0 0 30px 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;

                @include breakpoint("md-max") {
                    grid-template-columns: 1fr;
                    gap: 20px;
                    padding: 0 0 30px 0;
                }

                .input:last-child {
                    grid-column: span 2;

                    @include breakpoint("md-max") {
                        grid-column: auto;
                    }
                }
            }

            .input {
                label {
                    color: var(--Foundation-Blue-Dark, #0B0B14);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.2px;
                    padding: 0 0 8px 0;
                    display: flex;
                    align-items: center;
                    span {
                        color: red;
                        font-size: 12px;
                    }
                }

                input,
                select {
                    width: 100%;
                    border-radius: 25px;
                    border: 1px solid var(--foundation-white-normal-active, #CCC);
                    height: 48px;
                    padding: 0 16px;
                    color: var(--foundation-white-dark-active, #0B0B14);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    transition: .3s ease-in-out;
                    font-family: "DM Sans", sans-serif;

                    &:focus {
                        outline: none;
                        border: 1px solid #014EFF;
                    }

                }

                textarea {
                    width: 100%;
                    border-radius: 25px;
                    border: 1px solid var(--foundation-white-normal-active, #CCC);
                    height: 120px;
                    padding: 16px;
                    color: var(--foundation-white-dark-active, #0B0B14);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    transition: .3s ease-in-out;
                    font-family: "DM Sans", sans-serif;

                    &:focus {
                        outline: none;
                        border: 1px solid #014EFF;
                    }

                }

                ::placeholder {
                    color: var(--foundation-white-dark-active, #737373);
                    font-size: 16px;
                    font-style: normal;
                    font-family: "DM Sans", sans-serif;

                    font-weight: 400;
                    line-height: normal;
                }
            }

            h3 {
                color: var(--Foundation-Blue-Normal, #0F0F1A);
                font-size: 22px;
                font-style: normal;
                margin: 0 0 5px 0;
                font-weight: 600;
                line-height: 32px;
            }

            p {
                margin: 0 0 40px 0;
                color: var(--foundation-white-dark-active, #737373);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;

                @include breakpoint("sm-max") {
                    @include font14;
                }

                a {
                    color: #014EFF;
                    cursor: pointer;
                }
            }


        }

        .modalClose {
            padding: 16px 24px 16px 24px;
            display: flex;
            justify-content: flex-end;


            @include breakpoint("sm-max") {
                padding: 16px 20px 16px 20px;

            }

            div {
                border-radius: 6px;
                cursor: pointer;
                background: rgba(230, 230, 255, 0.60);
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 14px;
                    height: 14px;

                    path {
                        fill: #014EFF;
                    }
                }
            }
        }
    }
}