@import '../../../scss/mixins/index.scss';

.forexbrokerSetupHowitWork {
    background-color: #014eff;
    border-radius: 34px;
    padding: 120px 0;
    margin: 0 0 80px 0;

    @include breakpoint("md-max") {
        padding: 60px 0;
    }

    @include breakpoint("sm-max") {
        border-radius: 12px;
    }

    .centerAlignment {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            border-radius: 40px;
            border: 1px solid var(--foundation-blue-light-active, #b0b0ff);
            background: rgba(176, 200, 255, .2);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: #fff;
            cursor: text;
            display: flex;
            align-items: center;
            gap: 8px;
            text-transform: uppercase;
            padding: 6px 20px;
        }
    }

    h2 {
        color: var(--Foundation-Blue-Dark, #fff);
        margin: 16px 0;
        text-align: center;
        @include heading1;
    }

    p {
        color: var(--foundation-white-dark-active, #e6e6e6);
        text-align: center;
        font-size: 18px;
        max-width: 800px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;

        @include breakpoint("sm-max") {
            @include font14;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        padding: 60px 0 0 0;


        @include breakpoint("md-max") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint("sm-max") {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }


        .gridiitems {
            background-color: hsla(0, 0%, 100%, .1);
            padding: 24px;
            border-radius: 12px;

            h3 {
                color: var(--Foundation-Blue-Normal, #fff);
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                text-align: center;
                line-height: 30px;
                margin: 0 0 12px 0;
                letter-spacing: -0.2px;
            }

            span {
                display: block;
                color: var(--foundation-white-dark-active, #e6e6e6);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;

                @include breakpoint("sm-max") {
                    @include font14;
                }
            }

            .center {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0 20px 0;

                .counter {
                    background-color: #588bff;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    border-radius: 50%;
                }
            }
        }
    }
}